#header {
    background: url("../../../images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 800px;

      #navigation {
        width: 100%;
        min-height: 80px;
        background-color: $black-1;
        opacity: 0.8;

          .navbar-header{
            padding: 1em 0;
              .navbar-brand{
              font-size: 2em;
              font-weight: bold;
              color: $white;
              font-family: $font-family;
              } // .navbar-brand
          }// end navbar-header
          #navbar {
           .navbar-nav {
               li {
                   padding: 1em 0;
                   a {
                       color: $white;
                       font-weight:bold;
                       text-transform: uppercase;
                       font-size: 1em;
                       &:hover, &:focus, &:active {
                            border: 1px solid $white;
                            background: transparent;
                      } //hover
                    } // a
                 }// li
             } // navbar-nav
        } // navbar-header
    } // navigation
    .welcome {
        h1 {
          font-size: 4em;
          font-weight: 300;
          color: $white;
          padding: 5em 0 0 0;
        }
    }
    .actions {
      padding: 4em 0 0 0;
    }

}//header
#click-action{
    background: $black;
    min-height: 16em;
    h2 {
        color: $white;
        padding: 1em 0 0.5em 0;
        font-weight: 300;
        font-size: 3.5em;
    }
    form{
      padding: 2em 0 2.5em 0;
    }
}
#about {
  h2{
    color: $black-1;
    padding: 2em 0 1em 0em;
    font-weight: 300;
    font-size: 3.5em;
  }
  p{
    line-height: 1.8;
    font-size: 1.6em;
    font-weight: 300;
    color: $black-1;
    padding: 0 0 1em 0;
  }
}
