#header {
    background: url("../../../images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 800px;

      #navigation {
        width: 100%;
        min-height: 80px;
        background-color: $black-1;
        opacity: 0.8;

          .navbar-header{
            padding: 1em 0;
              .navbar-brand{
              font-size: 2em;
              font-weight: bold;
              color: $white;
              font-family: $font-family;
              } // .navbar-brand
          }// end navbar-header
          #navbar {
           .navbar-nav {
               li {
                   padding: 1em 0;
                   a {
                       color: $white;
                       font-weight:bold;
                       text-transform: uppercase;
                       font-size: 1em;
                       &:hover, &:focus, &:active {
                            border: 1px solid $white;
                            background: transparent;
                      } //hover
                    } // a
                 }// li
             } // navbar-nav
        } // navbar-header
    } // navigation
    .welcome {
        h1 {
          font-size: 4em;
          font-weight: 300;
          color: $white;
          padding: 5em 0 0 0;
        }
    }
    .actions {
      padding: 4em 0 0 0;
    }

}//header
#click-action{
    background: $black;
    min-height: 16em;
    h2 {
        color: $white;
        padding: 1em 0 0.5em 0;
        font-weight: 300;
        font-size: 3.5em;
    }
    form{
      padding: 2em 0 2.5em 0;
    }
}
#about {
  padding: 5em;
  h2{
    color: $black-1;
    padding: 2em 0 1em 0em;
    font-weight: 300;
    font-size: 3.5em;
  }
  p{
    line-height: 1.6;
    font-size: 1.9em;
    font-weight: 300;
    color: $black-1;
    padding: 0 0 1em 0;
  }
}
#signit {
  background: url("/images/banner-bg.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 13em;
  width: 100%;
  padding-bottom: 5em;
  h2{
    color: $white;
    padding: 2em 0 1em 0em;
    font-weight: 300;
    font-size: 3.5em;
  }
  p{
    line-height: 1;
    font-size: 1.6em;
    font-weight: 300;
    color: $white;
    padding: 0 0 1.5em 0;
  }
}
#prices {
  background: #f6f6f6;
  padding: 5em;
  h2, h3{
    color: $black-1;
    padding: 2em 0 1em 0em;
    font-weight: 300;
    font-size: 3.5em;
    }
    .price-container {
         background: $white;
         box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.20);
         &:nth-child(3) {
             position: relative;
             top: -1em;
             &:nth-child(3) {
                 position: relative;
                 top: -1em;
                 padding:1.208em;
             }
         }
    }

    .price-header {
         border-top-width: 5px;
         border-top-style: solid;
         &.silver {
             border-top-color: #909090;
         }
         &.gold {
             border-top-color: #c09b4d;
         }
         &.royal {
             border-top-color: #17267f;
         }
         small {
             color: $black-1;
             padding: 0.8em;
         }
     }
    .price-content {
        .line-bottom {
            border-bottom: 1px solid $black-1;
            padding: 0.8em 0;
        }
        strong {
            font-size: 2em;
        }
        .feature-list {
            list-style: none;
            text-align: left;
            padding: 0;
            li {
                font-size: 1.1em;
            }
        }
    }
    .price-footer{
        margin: 1em 0 0 0;
        .btn-prices{
            border-radius: 0;
            width: 100%;
            position: relative;
            color: $white;
            &.silver {
                background: #909090;
            }
            &.gold {
                background: #c09b4d;
                }
            &.royale {
                background: #17267f;
            }
        }
    }

}

#contact{
    background: $black;
    min-height: 16em;
    padding: 5em;
    h2 {
        color: $white;
        padding: 1em 0 0.5em 0;
        font-weight: 300;
        font-size: 3.5em;
    }
    form{
      padding: 2em 0 2.5em 0;
    }
}

#footer{
  background: url("/images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    min-height: 10em;
    h2 {
        font-size: 2em;
        font-family: $font-family;
        font-weight: bold;
        color: $white;
        padding: 1em 0;
        text-transform: uppercase;
    }
    p {
      color: $white;
    }
    small {
      color: $white;
      display: block;
      padding: 1.5em 0 1.5em 0;
    }
    .social-list {
        padding: 0;
        list-style: none;
        li {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid $white;
            background: transparent;
            margin: 1em 0 1em 0.8em;
            display: inline-block;
            i {
                font-size: 2em;
                padding: 0.6em;
                color: $white;
            }
            &:hover, &:focus, &:active {
                background: $white;
                i {
                    color: $black;
                }
            }
        }
    }
}
